/*1. Estilos gerais para a página*/


/*reset css*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
body{
    line-height: 1;
    font-family: sans-serif;
}

ol, ul{
    list-style: none;
}

img, video{
    max-width: 100%;
    height: auto;
}

/*Espaço Utilizado para criar nosso card*/

body{
    font-family: 'Georgia', serif; /* Fonte */
    background-color: #f5f5f5; /* Cor de fundo clara */
    color: #333; /* Cor do texto */
    
    display: flex; /* Usando Flexbox para centralizar o card */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que o corpo ocupe a altura total da viewport */
    margin: 0px;

}

.recipe-card{
   
    width: 350px; /* Largura fixa do card */
    background-color: #fff; /* Fundo branco para o card */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Sombra para dar profundidade */
    overflow: hidden; /* Garante que o conteúdo não ultrapasse as bordas arredondadas */
}
.recipe-image{
    width: 100%;
    display: block;
}

.recipe-content{
    padding: 25px; /* Espaçamento interno */
}
.recipe-title{
    font-size: 1.5rem; /* Tamanho da fonte do título, rem 1=16px 0.5=8 */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    margin-top: 0px;
    color: #49c70f; /* Cor verde para o título */
}

.recipe-description{
    font-size: 1rem;
    line-height: 1.6;
    color: grey;
    margin-bottom: 20px;
}